{{ include('includes/header.html') }}

{{ include('includes/messages.html') }}

<div class="container-fluid">

    <div class="text-center">
        <h5>PROFILE PAGE</h5>
    </div>
    <br>

    <div class="container">
        <h4 class="text-center">WELLCOME <span>{{ user.name }}</span></h4>
        <p class="text-center"><a class="btn btn-primary" href="{{ logout }}">LOGOUT</a></p>

    </div>

    <div class="container text-center">
        <div class="card" style="width: auto;">
            <div class="text-center">
                <img src="/{{ SITE }}{{ user.image_path }}" class="" alt="default" width="189" height="255">
            </div>
            <div class="card-body">
                <h5 class="card-title">USER_PROFILE</h5>
                <p class="card-text">USER_NAME : {{ user.name }}</p>
                <p class="card-text">USER_EMAIL : {{ user.email }}</p>
                <a href="{{ edit }}" class="btn btn-primary">EDIT_PROFILE</a>
            </div>
        </div>
    </div>

</div>

{{ include('includes/footer.html') }}
