{{ include('includes/header.html') }}

{{ include('includes/messages.html') }}

<div class="container-fluid">

    <div class="container text-right" style="height: 50px;">
        <?php include ('includes/langButton.php'); ?>
    </div>

    <div class="container text-center"><h4>REGISTRATION</h4></div>

    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <form action="create" id="registerform" method="post" name="form"  onsubmit="return Validate()">
                    <div class="form-group">
                        <label for="inputUserName">USER_NAME</label>
                        <div id="name error" class="val_error"></div>
                        <input type="text" name="name" class="form-control" id="inputUserName" aria-describedby="nameHelp" placeholder="Enter User Name">
                        <p style="color: blue; font-size: 11px;">Username must be between 3 and 30 characters long and contain only latin letters</p>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1">EMAIL_ADDRESS</label>
                        <div id="email error" class="val_error"></div>
                        <input type="text" name="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword1">PASSWORD</label>
                        <div id="password error" class="val_error"></div>
                        <input type="password" name="password" class="form-control" id="inputPassword1" placeholder="Password">
                        <p style="color: blue; font-size: 11px;">Password must be 8 to 30 characters long, contain latin letters and at least one uppercase letter and one number</p>
                    </div>
                    <p class="text-center"><button type="submit" name="form" class="btn btn-primary">REGISTER</button></p>
                    <p class="text-center">ALREADY_REGISTERED<a href= "login">LOGIN</a>!</p>
                </form>

            </div>
            <div class="col-2"></div>
        </div>
    </div>

</div>

{{ include('includes/footer.html') }}
